# Relativo a IDEs
# Netbeans
/www/nbproject/private/
/nbproject/private/
/nbproject/

# Sublime Text
*sublime*

# VS Code
.vscode/

# Configurações da aplicação 
/www/application/config/config.php
/www/application/config/database.php
/www/.htaccess

# Database rebuild
SQL/sample_data/config.sh
