# Relativo a IDEs
# Netbeans
/www/nbproject/private/
/nbproject/private/
/nbproject/

# Sublime Text
*sublime*

# VS Code
.vscode/

# Phpstorm
.idea/

# Configurações da aplicação 
/www/application/config/config.php
/www/application/config/database.php
/www/.htaccess

# Database rebuild
SQL/sample_data/config.sh

# sandbox
SQL/sisdf_replicate.sql
SQL/db_config.sh

www/application/logs/
